/* img{
    width: 400px;
    padding: 30px;
    margin: 10px;

    position: absolute;
    right: 900px;
    top: 100px;
} */

/* #dialogue1{
    width: 300px;
    height: 200px;

    border-width: 1px;
    border-style: solid;
    border-color: grey;

    padding: 30px;
    margin: 10px;

    position: absolute;
    right: 500px;
    top: 145px;
}

#fieldDescription{
    font-family: 'Courier New', Courier, monospace;

    padding: 20px;

    position: absolute;
    right: 0px;
    top: 100px;
} */

iframe{
    width: 800px;
    height: 400px;
    padding: 0px;
    margin: 0px;
    border: none;
}

.mainWrapper{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #dialogue2{
    width: 300px;
    height: 200px;

    border-width: 1px;
    border-style: solid;
    border-color: grey;

    padding: 30px;
    margin: 10px;

    position: absolute;
    right: 500px;
    top: 575px;
} */

/* #PrabhuSpeaker{
    font-family: 'Courier New', Courier, monospace;

    padding: 20px;

    position: absolute;
    right: 120px;
    top: 0px;
}

#PrabhuDialogue{
    font-family: 'Courier New', Courier, monospace;

    padding: 20px;

    position: absolute;
    right: 0px;
    top: 20px;
}

#RohanSpeaker{
    font-family: 'Courier New', Courier, monospace;

    padding: 20px;

    position: absolute;
    right: 130px;
    top: 90px;
}

#RohanDialogue{
    font-family: 'Courier New', Courier, monospace;

    padding: 20px;

    position: absolute;
    right: 0px;
    top: 110px;
} */