body{
    margin: 0;
    overflow: hidden;
}

.dialogue{
    width: 300px;
    /* height: 200px; */

    padding: 30px;
    box-sizing: border-box;
    margin: 0px;

    font-family: 'Courier New', Courier, monospace;
}

.speaker{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.speaker:first-child{
    margin-top: 30px;
    /* margin-bottom: 20px; */
}

.sceneWrapper{
    width: 800px;
    /* background-color: aquamarine; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.techDetails{
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
}

.camDirections{
    margin: 7px;
    margin-top: 8px;
}

.camSettings{
    margin: 7px;
    margin-top: 7px;
}

.raining{
    cursor: pointer;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        color: blue;
    }
    50% {
        opacity: 0;
    }
    100% {
        color: blue;
    }
}

.raining:hover{
    background-color: gray;
    font-weight: bold;
}